trigger:
- master

pool:
  name: 'AgenteLocal'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

# Usar batch/cmd
- task: CmdLine@2
  inputs:
    script: |
      npm ci
      npm run build
  displayName: 'npm install and build'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: 'drop'
  displayName: 'Publish artifacts'